@import "tailwindcss";

@tailwind base; 
@tailwind components; 
@tailwind utilities;

@layer utilities {
    /* Firefox */
    .simple-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: #525252 transparent; /* thumb color, track color */
    }

    /* WebKit (Chrome, Safari, Edge) */
    .simple-scrollbar::-webkit-scrollbar {
        width: 6px; /* Makes the scrollbar slim */
    }

    .simple-scrollbar::-webkit-scrollbar-track {
        background: transparent; /* Hides the track for a cleaner look */
        border-radius: 10px;
    }

    .simple-scrollbar::-webkit-scrollbar-thumb {
        background-color: #525252; /* Tailwind's neutral-600 */
        border-radius: 10px;
    }

    .simple-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: #737373; /* Tailwind's neutral-500 for hover state */
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
